/*
    Les styles touchant les sections de la description
    ou de la section spécifique du service 
    seront dans le fichier css de la page
*/


/*
    bannière
*/


@media all and (max-width:768px){

    .service-cmp .banner,
    .service-cmp section.other-services .service{
        display: flex;
    }
    .service-cmp .banner .banner-image{
        order:1 !important;
        margin-bottom:50px !important;
        margin-left:auto !important;
        margin-right:auto !important
    }

    .service-cmp .banner .banner-content{
        order:2 !important;
        margin:auto !important
    }
}

/*
    Autres services
*/

.service-cmp section.other-services .service h2{
    font-weight:700;
    font-size: 25px;
}


/*Grands écrans*/

@media all and (min-width:1550px){
    .service-cmp section.other-services .service .btn-link-primary{
        font-size:19px;
    }
}

.service-cmp section.other-services .service.right{
    display: flex;
}

.service-cmp section.other-services .service.right .service-image{
    order:2 !important
}
.service-cmp section.other-services .service.right .service-content{
    order:1 !important;
}

@media all and (max-width:768px){

    .service-cmp section.other-services .service.right .service-image{
        order:1 !important
    }
    .service-cmp section.other-services .service.right .service-content{
        order:2 !important;
    }

    .service-cmp section.other-services .service{
        display: flex;
    }

    /*.service-cmp section.other-services .service .service-image{
        order:1 !important;
        margin-bottom:50px !important;
        margin-left:auto !important;
        margin-right:auto !important
    }

    .service-cmp section.other-services .service.left .service-content{
        order:2 !important;
        margin:auto !important
    }
    
    .service-cmp .service-description {
        width:100% !important;
    }*/
}