/*
    Keyframes
*/


@keyframes imageAnimation {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(-30px);
    }
}


/*
    Bannière
*/

.atoopro-home{
    padding-top:60px;
}

.atoopro-home .banner-home{
    padding-bottom:70px;
    padding-top:30px;
}

@media all and (min-width:1245px){
    .atoopro-home .banner-home{
        height:71.3vh;
    }
}

.atoopro-home .banner-home .banner-text{
    padding-top:10px !important;
    padding-bottom: 0 !important;
}

.atoopro-home .banner-home .banner-text h1{
    margin-top:15px;
}


.atoopro-home .banner-home .banner-image{
    align-self:flex-start !important
}

.atoopro-home .banner-home .banner-image .img img{
    display: block;
    animation: imageAnimation 2s infinite ease-in-out alternate-reverse;
}

@media all and (max-width:430px){
    .atoopro-home .banner-home .banner-image .img{
        width:280px !important;
    }
}

@media all and (max-width:300px){
    .atoopro-home .banner-home .banner-image .img{
        width:200px !important;
    }
}

@media all and (max-width:769px){
    .atoopro-home .banner-home{
        display: flex;
    }
    .atoopro-home .banner-home .banner-image{
        order:0 !important;
    }

    .atoopro-home .banner-image .img{
        width:400px !important;
        margin:auto !important;
        text-align: center;
    }


    .atoopro-home .banner-home .banner-text{
        order:1 !important;
    }
}


/*
    Style pour les sections de titre sur la page d'accueil
*/

body.body-dark .atoopro-home h2.section-title{
    color:#f0e8f6d0 !important;
}

body.body-dark .atoopro-home h2.section-title , .atoopro-home h2.section-title{
    font-size: 25px;
    font-weight: 600 !important;
}



.atoopro-home h2.section-title.faq-title{
    text-align: center;
}





/* 
    statistiques 
*/


.atoopro-home .statistics{
    margin-top: 45px;
    margin-bottom:45px
}

@media all and (max-width:769px){
    .atoopro-home .statistics{
        margin-top: 145px;
    }
}

.atoopro-home .statistics .statistic{
    text-align: center;
    margin:0;
}

.atoopro-home .statistics .statistic .st{
    text-align: center;
    border-radius: 50%;
    width:160px !important;
    height:160px !important;
    margin: auto;
    padding-top:50px
}

.atoopro-home .statistics .statistic .st span{
    font-size: 50px ;
    font-weight:700
}

.atoopro-home .statistics .statistic .st p{
    font-size: 15px;
}

/*Grands écrans*/

@media all and (min-width:1550px){
    .atoopro-home .statistics .statistic .st p{
        font-size: 20px;
    }
}

.atoopro-home .statistics h2,.atoopro-home .services h2,.atoopro-home .partenaires h2{
    text-align: center;
    margin:35px 0 0px 0;
}

/*
    Services
*/

.atoopro-home .services {
    margin-top:100px !important; 
    margin-bottom:100px !important; 
}

/*
    FAQ
*/

.atoopro-home .faq{
    position:relative;
    margin-bottom: 60px;
}

body.body-dark .atoopro-home .faq *{
    color:#f0e8f6ff !important;
}

body.body-dark .atoopro-home .faq *{
    color:#f0e8f6d0 !important;
}

/*
    partenaires 
*/


.atoopro-home .partenaires {
    height:430px;
    position:relative;
    width:100%;
    padding:25px 0;
    margin-top:40px;
}

.atoopro-home .partenaires::before {
    position:absolute;
    background: #e9f7fdd2;
    z-index:5;
    content:'';
    height:420px;
    display:block;
    z-index:-2;
    top:-25px;
    left:-300px;
    right:-300px;
    width:200%;
}

@media all and (max-width:450px){
    .atoopro-home .partenaires::before {
        left:-100px;
        right:-100px;
        width:200%;
    }
}

body.body-dark .atoopro-home .partenaires::before{
    background:#abd7eb27 !important;
}

.atoopro-home .partenaires h2{
    font-size:22px;
    text-transform: uppercase;
    font-weight: 600;
    padding-top:25px;
    letter-spacing: 2px;
}

body.body-dark .atoopro-home .partenaires h2{
    color: #f0e8f6d0 !important;
}

