.caroussel{
    padding:35px 80px;
    width:80%;
    margin:0 auto;
    position:relative;
}

@media all and (max-width:450px){
    .caroussel{
        padding-right: 40px;
        padding-left: 40px;
    }
}



@media all and (max-width:740px){
    .caroussel{
        width:100%;
    }
}


.caroussel .chevron{
    position:absolute;
    top:50%;
    transform: translate(-50%,-50%);
    background: #7ea0af98;
    border-radius:50%;
    width:50px;
    height:50px;
    text-align: center;
    font-size: 20px;
    display: flex;
    color:#05364b !important;
    justify-content: center;
    align-items: center;
    z-index:0;
    cursor:pointer
}

.caroussel .chevron.prev{
    left: 50px;
}

.caroussel .chevron.next{
    right:0;
}

@media all and (max-width:600px){
    .caroussel .chevron.next{
        right:-20px;
    }
    .caroussel .chevron.prev{
        left: 30px;
    }
}

@media all and (max-width:450px){
    .caroussel .chevron.next{
        right:-40px;
    }
    .caroussel .chevron.prev{
        left: 10px;
    }
}

.caroussel .images{
    width:100% !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:150px;
}

@media all and (max-width:380px){
    .caroussel .images img{
        width:95px
    }
}

@media all and (max-width:580px){
    .caroussel .images img{
        width:120px
    }

    .caroussel .images{
        justify-content: space-between;
    }
}

body.body-dark .atoopro-home .partenaires .caroussel .chevron {
    color:#75c4e6b4 !important;
    background: #465a63b9;
}

.caroussel .ok-only{
    justify-content: center !important;
    display: flex;
    align-items: center;
}

