.atoopro-home .faq .ant-collapse-header{ 
    font-weight:800;
    font-size:16px;
    letter-spacing: 1px;
    border-bottom: 1px solid  rgba(0,0,0,.1);
}

.atoopro-home .faq .ant-collapse-header .icn{ 
    display: block;
    width:30px !important;
    height:30px !important;
    background:#abd7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 50%;
}

.atoopro-home .faq .ant-collapse-header .icn.icn-dark{ 
    background:#1a52bb !important;
}

.atoopro-home .faq .ant-collapse p.accordeon-content{
    font-size:15px;
}

/*Grands écrans*/

@media all and (min-width:1550px){
    .atoopro-home .faq .ant-collapse p.accordeon-content{
        font-size:18px;
    }

    .atoopro-home .faq .ant-collapse .ant-collapse-header{
        font-size:20px !important;
    }
}