.section-contact{
    position: relative;
    padding: 65px 0;
    margin:50px 0;
}
body.body-dark .section-contact{
    color: #020f25ec !important;
}

.section-contact h3{
    font-size: 25px;
    font-weight: 600;
}

.section-contact p{
    margin:15px 0 20px 0 !important
}

.section-contact::before{
    position: absolute;
    content: '';
    display: block;
    top:0;
    bottom:0;
    left:-100px;
    right:-100px;
    width:210%;
    background: #bfd9e4d2;
    z-index:-4 !important;
}

body.body-dark .section-contact::before{
    background:#aae4fdd5;
}