/*
    Formulaire de contact + map
*/

.atoopro-contact .form-map{
    margin:70px auto;
}

.atoopro-contact .form-map .form-contact {
    padding-right:30px;
}


@media all and (max-width:768px){

    .atoopro-contact .form-contact {
        padding-right:0px;
    }

    .atoopro-contact .map {
        height:400px !important;
    }
}


.atoopro-contact .form-map .map {
    position:relative !important;
}

.atoopro-contact .form-map .map .google-map{
    overflow: hidden !important;
}



/*Recrutement*/

@media all and (max-width:768px){
    .atoopro-contact .recrutement{
        padding-top:50px;
    }
}


/*Grands écrans*/

@media all and (min-width:1550px){
    .atoopro-contact .recrutement p{
        font-size:19px
    }
}

.atoopro-contact .recrutement .btn-postuler a{
    font-weight:600 !important
}


@media all and (max-width:576px){
    .atoopro-contact .recrutement .btn-postuler{
        text-align:left !important
    }

    .atoopro-contact .recrutement .divider{
        margin-top:25px !important
    }

}

@media all and (max-width:278px){
    .atoopro-contact .recrutement .join-head{
        font-size:22px !important;
        line-height:1.2;
    }

    .atoopro-contact .recrutement .btn-postuler a{
        height:40px !important;
        width:130px !important;
        margin-top:10px
    }
}

