.atoopro-contact .form-map{
    margin:70px auto;
   /* width:80%;*/
}

.atoopro-contact .form-contact {
    padding-right:30px;
}

.atoopro-contact .map {
    position:relative !important;
}

.atoopro-contact .map .google-map{
    position:absolute !important;
    top:0;
    left:0;
    bottom:0;
    right: 0;
    overflow: hidden !important;
}



/*Recrutement*/

.atoopro-contact .recrutement .btn-postuler a{
    font-weight:600 !important
}


@media all and (max-width:576px){
    .atoopro-contact .recrutement .btn-postuler{
        text-align:left !important
    }

    .atoopro-contact .recrutement .divider{
        margin-top:25px !important
    }

}

@media all and (max-width:278px){
    .atoopro-contact .recrutement .join-head{
        font-size:22px !important;
        line-height:1.2;
    }

    .atoopro-contact .recrutement .btn-postuler a{
        height:40px !important;
        width:130px !important;
        margin-top:10px
    }
}



/* Bottom contact page*/

.atoopro-contact .others-contact-infos .other-info .icns{
    width:50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    background: #9fd8f17c;
    color:rgba(0, 0, 0, 0.65)!important;
    font-size: 16px;
    margin:auto;
}

body.body-dark .atoopro-contact .others-contact-infos .other-info .icns{
    background: #034661c4;
}

.atoopro-contact .others-contact-infos .other-info{
    margin:25px 0 !important;
    width:100%;
}

body.body-dark .atoopro-contact .others-contact-infos .other-info .icns{
    color:inherit !important
}

.atoopro-contact .others-contact-infos{
    margin-bottom: 40px;
}

.atoopro-contact .others-contact-infos .other-info .content-icns span.adress {
    display: block !important;
    text-align: center !important;
    margin:12px 0 !important;
    font-family:Lato
}

.atoopro-contact .others-contact-infos .other-info .content-icns span.adress a {
    display: block !important;
    width:100%;
    transition:.3s;
}

.atoopro-contact .others-contact-infos .other-info .content-icns span.adress a:hover{
    transform:scale(1.1)
}

@media all and (max-width:240px){
.atoopro-contact .others-contact-infos .other-info .content-icns span.adress a {
    font-size:12px
}
}


@media all and (max-width:768px){
    .atoopro-contact .form-contact {
        padding-right:0px;
    }
    .atoopro-contact .map {
        height:400px !important;
    }
}



/*@media all and (max-width:992px){
    .form-map{
        width:95%;
    }
}*/