.admin-connexion .login-container h2,
.admin-inscription .register-container h2{
    margin:20px 0;
    font-size:25px;
    font-weight:800;
}

/*Style oeil caché devant ant-input-password*/

.ant-input-password input{
    background-color: transparent !important;
}

.body-dark .ant-input-password input + span svg{
    color:#f0e8f6d0 !important;
}

.admin-connexion .login-form p,
.admin-connexion .login-form label,
.admin-inscription .register-form p,
.admin-inscription .register-form label
{
    color:#f0e8f6d0 !important;
}

.admin-connexion .login-form .login-container,
.admin-inscription .register-form .register-container{
    margin:25px auto;
    padding:45px 0;
}

.admin-connexion .login-form .login-container #form .ant-row,
.admin-inscription .register-form .register-container #form .ant-row{
    justify-content: flex-start !important;
    display: flex;
}

.admin-connexion .login-form .login-container #form,
.admin-inscription .register-form .register-container #form{
    margin-top: 35px;
}

.admin-connexion .login-form .login-container #form .submit,
.admin-inscription .register-form .register-container #form .submit{
    width:120px;
    height:40px;
    margin:15px auto !important;
    text-align: center;
}

@media all and (max-width:550px){
    .admin-connexion .login-container h2,
    .admin-inscription .register-container h2{
        font-size:22px;
    }
}